.table-center {
  display: table;
  width: 100%;
  height: 100%;

  .cell-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    #loading-indicator {
      animation: animationFrames 2s linear infinite;
      transform-origin: 50% 50%;
      position: relative;
      font-size: 5em;
    }

    @keyframes animationFrames {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
