













<!-- promtUserForInfo -->
<div class="modal fade" id="promtUserForInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Informaci&oacute;n para realizar la reserva.</h4>
      </div>
      <div class="modal-body" id="promtUserFields"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" v-on:click="confirmReservation()">Reservar</button>
      </div>
    </div>
  </div>
</div>
<!-- promtUserForInfo -->

<!-- promtUserForInfo -->
<div class="modal fade" id="resultadoReserva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmaci&oacute;n de reserva.</h4>
      </div>
      <div class="modal-body">Reserva exitosa! disfruta de tu estad&iacute;a.<br />El n&uacute;mero de reserva es: <span id="reservationNumber"></span></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- promtUserForInfo -->




<div id="loading-spinner"></div>
<div id="results-container" v-show="hoteldetallado == null && hotels_details.length" class="row col-xs-12 col-sm-10">
  <ul id="results" class="container-fluid">
    <li class="hotel row" v-for="res in hotels">
      <div class="hotel-card col-xs-12 col-sm-8" v-for="hot in hotels_details" v-if="hot.id==res.id" style="background: url('{{ hot.main_picture.url }}') no-repeat top left;background-size:100% 100%;">
      <h1>{{ res.hotel.name }} <span class="hotel_type btn-info btn-xs" v-for="ht in hotel_types" v-if="res.hotel.hotel_type_id==ht.value">{{ ht.label }}</span><span class="glyphicon glyphicon-star estrellas" aria-hidden="true" v-for="n in hot.stars"></span></h1>

      <detallesprincipales :hotel="res" :hotels-details="hotels_details"></detallesprincipales>

      </div>
      <div class="hotel-card-payment col-xs-12 col-sm-4 text-center">
        <preciodesde :hotel="res" :cheapest-night-prices="cheapest_night_prices"></preciodesde>
        <formapago :hotel="res" :hotel-payment-types="hotel_payment_types"></formapago>
      </div>
    </li>
  </ul>
</div>
<div id="hotel-view" v-show="hoteldetallado != null" class="row col-xs-12 col-sm-10">
  <ul id="results" class="container-fluid">
    <li class="hotel row" v-for="res in hotels" v-if="res.id==hoteldetallado.id">
      <div class="hotel-card col-xs-12 " v-for="hot in hotels_details" v-if="hot.id==res.id">
      <div class="volver"><button v-on:click="volver" class="btn btn-info"><< Volver al listado de hoteles</button></div>
      <h1>{{ res.hotel.name }} <span class="hotel_type btn-info btn-xs" v-for="ht in hotel_types" v-if="res.hotel.hotel_type_id==ht.value">{{ ht.label }}</span><span class="glyphicon glyphicon-star estrellas" aria-hidden="true" v-for="n in hot.stars"></span></h1>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" v-for="(idx, pic) in hot.pictures" v-if="idx < 11" data-slide-to="{{idx}}" class="{{(idx == 0)?'active':'' }}"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div v-for="(idx, pic) in hot.pictures" v-if="idx < 11" class="{{(idx == 0)?'active':'' }} item">
            <img class="first-slide" src="{{pic.url}}" alt="">
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div><!-- /.carousel -->



      <detallesprincipales :hotel="res" :hotels-details="hotels_details"></detallesprincipales>
      <hr>
      <amenities :hotel="res" :amenities="amenities"></amenities>
      <hr>
      <h3>Opciones: {{ hoteldetallado.roompacks_simple.length }}</h3>
      <table class="table table-responsive">
        <thead>
          <th>Tipo de habitación</th>
          <th>Régimen de comidas</th>
          <th>Políticas de cancelación</th>
          <th>Habitación por noche</th>
        </thead>
        <tr v-for="rp in hoteldetallado.roompacks_simple">
          <td>{{rp.rooms[0].name}}<br><img class="rp" src="{{rp.imgurl}}" /><br>Capacidad max. {{rp.rooms[0].capacity.max}}</td>
          <td>{{rp.meal_plan_desc}}</td>
          <td>{{rp.cancellation_policy.text}}</td>
          <td>
          <button class="btn btn-danger" v-on:click="startReservation(res.id)">Comprar ahora ${{rp.price_detail.nightly.subtotal}}</button>
          <formapago :hotel="res" :hotel-payment-types="hotel_payment_types"></formapago>
          </td>
        </tr>
      </table>
      <hr>
      <iframe width="300" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q={{ hot.location.latitude }},{{ hot.location.longitude }}&hl=es;z=14&output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q={{ hot.location.latitude }},{{ hot.location.longitude }}&hl=es;z=14&output=embed" style="color:#0000FF;text-align:left" target="_blank">Agrandar el mapa</a></small>
      </div>
    </li>
  </ul>
  <div>
  </div>
</div>
